.AudioPlayer-RightPart {
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.AudioPlayer-AlbumCover {
  width: 52px;
  height: 52px;
  flex: 0 0 auto;
  margin-right: 16px;
}

.AudioPlayer-AlbumCover > img {
  width: 100%;
  height: 100%;
  border-radius: 15%;
}

.AudioPlayer-Track {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  color: #000000;
}

.AudioPlayer-Length {
  margin-left: 16px;
  font-size: 14px;
  color: #A1A1A1;
}

.AudioPlayer-VolumeRange {
  position: relative;
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: rgba(216, 216, 216, 0.30);
}

.AudioPlayer-VolumeRange:focus {
  outline: none;
}

.AudioPlayer-VolumeRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #605757;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  cursor: pointer;
  margin-top: 0;
}

.AudioPlayer-VolumeRange::-moz-range-thumb {
  background-color: #605757;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  cursor: pointer;
}

.AudioPlayer-TimeRange {
  position: relative;
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  background-color: #979797;
}

.AudioPlayer-TimeRange:focus {
  outline: none;
}

.AudioPlayer-TimeRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #D8D8D8;
  border-radius: 4.5px;
  height: 20px;
  width: 12px;
  cursor: pointer;
  margin-top: 0;
}

.AudioPlayer-TimeRange::-moz-range-thumb {
  background-color: #D8D8D8;
  height: 20px;
  width: 12px;
  border-radius: 4.5px;
  cursor: pointer;
}

.AudioPlayer-FirstLine {
  display: flex;
  margin-bottom: 20px;
}

.AudioPlayer-SecondLine {
  display: flex;
  align-items: center;
}

.AudioPlayer-BottomPart {
  display: flex;
  align-items: center;
}

.AudioPlayer-Volume {
  font-size: 14px;
  color: #A1A1A1;
  margin-left: 20px;
}

.AudioPlayer-Buttons {
  flex: 1 0 auto;
  margin-right: 15px;
}

.AudioPlayer-Buttons > img:first-child {
  margin-right: 27px;
}
