.EventsGrid-Event {
  position: relative;
  background-color: #FAFAFA;
  min-height: 100px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: .15s ease;
}

.EventsGrid-Event:hover {
  box-shadow: 0 2px 6px 0 #C5BABA;
  background-color: #F3F3F3;
}

.EventsGrid-Event:hover .Event-ControlBtn_position_top,
.EventsGrid-Event:hover .Event-ControlBtn_position_bottom {
  opacity: 1.0;
}

.EventsGrid-Event:hover .Event-Content {
  background-color: #F3F3F3;
}

/* Модификаторы */
.EventsGrid-Event_size_large {
  grid-column: span 4;
  grid-row: span 3;
}



.EventsGrid-Event_size_medium {
  grid-column: span 3;
  grid-row: span 2;

}



/* modifiers related to tile size */
.EventsGrid-Event_size_small {
  grid-column: span 2;
  grid-row: span 1;
}

.EventsGrid-Event_size_small .Header-Status {
  flex-direction: column;
  align-items: flex-start;
}

.EventsGrid-Event_size_small .Header-Source {
  margin-bottom: 20px;
}



.EventsGrid-Event.critical {
  background-color: #DB5341;
}

.EventsGrid-Event.critical .Event-Header {
  color: white;
  padding-bottom: 20px;
}

.Event-ControlBtn {
  transition: .15s ease;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 17px;
  height: 17px;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;

  border-radius: 50%;
  background: rgba(210, 210, 210, 0.9);
  box-shadow: 0 0 0 5px rgba(210, 210, 210, 0.9);
  border: 1px solid rgba(210, 210, 210, 0.9);
}

.Event-ControlBtn > img {
  width: 100%;
  height: 100%;
}

.Event-ControlBtn_position_top {
  top: 24px;
}

.Event-ControlBtn_position_bottom {
  top: unset;
  bottom: 24px;
}

.Event-ControlBtn_position_bottom > img {
  position: relative;
  left: 1px;
}

.Event-Header {
  transition: .15s ease;
  padding: 20px 20px 5px 20px;
}

.Header-Title {
  display: flex;
  align-items: center;
}

.Header-Text {
  font-size: 24px;
  font-weight: bold;
  max-height: 56px;
  overflow: hidden;
}

.Header-Icon {
  width: 52px;
  height: 52px;
  margin-right: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.Header-Status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: 18px;
  margin-top: 13px;
}

.Header-Source {
  margin-right: 10px;
}

.Header-Datetime {
}

.Event-Content > * {
  margin-bottom: 20px;
}

.Event-Content > *:last-child {
  margin-bottom: 0;
}

.Event-Content {
  transition: .15s ease;

  flex: 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;
  border-radius: 20px;
  background-color: #FAFAFA;
}

.Event-Image > img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}

.Event-Player {
}

.Event-DialogBtns {
  display: grid;
  grid-template: 54px / repeat(2, minmax(132px, min-content));
  grid-gap: 0 18px;
}

@media screen and (max-width: 940px) {
  .EventsGrid-Event_size_medium {
    grid-area: span 2 / span 2
  }
}

@media screen and (max-width: 720px) {
  .EventsGrid-Event_size_medium {
    grid-area: span 2 / span 4
  }

  .Header-Text {
    font-size: 14px;
  }

  .Header-Icon {
    width: 36px;
    height: 36px;
  }

  .Header-Icon > img {
    width: 100%;
    height: 100%;
  }

  .Header-Status {
    font-size: 12px;
  }

  .EventsGrid-Event_size_small .Event-DialogBtns,
  .EventsGrid-Event_size_medium .Event-DialogBtns,
  .EventsGrid-Event_size_large .Event-DialogBtns {
    justify-content: space-between;
  }

  .EventsGrid-Event_size_small .Event-Description,
  .EventsGrid-Event_size_medium .Event-Description,
  .EventsGrid-Event_size_large .Event-Description {
    font-size: 18px;
  }
}

@media screen and (max-width: 550px) {
  .EventsGrid-Event_size_large,
  .EventsGrid-Event_size_medium,
  .EventsGrid-Event_size_small {
    grid-area: span 1 / span 1;
  }
}
