// primary font color
$primary-color: #333333;
$secondary-color: #000000;
// color for section borders
$section-border-color: #F0F0F0;
$primary-background-color: #FFFFFF;

$tile-color-normal: #FAFAFA;
$tile-color-error: #DB5341;
$tile-color-error-hover: #b54a3a;

$tile-color-hover: #F3F3F3;

$tile-color-shadow: rgba(197,186,186,0.50);

$btn-color-primary: #FFD93E;
$btn-color-secondary: #E5E5E5;
$btn-color-hover: #FFCD00;
